@import '~antd/dist/antd.css';
$primary-background-color: #2e4b64;
$body-bg: #f9fafa;
$secondary-background-color: #ed5900;
$primary-text-color: #0a0909;
$scondary-text-color: #ed5900;
$primary-border-color: #ed5900;
$secondary-border-color: #fff;
$top-bar-height: 70px;
$lg-padding: 30px;
$ZIndexLevel-1: 1000;
html {
    body {
        color: $primary-text-color;
        background-color: $body-bg;
        font-family: 'Lato', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Open Sans', sans-serif;
        margin-top: $top-bar-height;
        // height: calc(#{$top-bar-height} - 100%);
        height: 100%;
    }
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-btn.ant-btn-default {
    margin-right: 10px;
}

/* tabs styles */

.form-area {
    max-width: 500px;
    .form-header {
        padding: 30px 0 10px;
        h1,
        h4 {
            text-align: center;
        }
        h1 {
            margin-bottom: 10px;
            font-weight: 600;
        }
    }
    form {
        background: #fff;
        padding: $lg-padding;
    }
}

.ant-tabs-bar.ant-tabs-top-bar {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: $ZIndexLevel-1;
    background: $primary-background-color;
    height: $top-bar-height;
    .ant-tabs-nav {
        display: flex;
        justify-content: center;
        .ant-tabs-tab {
            padding: 19px 16px;
        }
        .ant-tabs-tab-active,
        .ant-tabs-tab {
            color: #fff;
            font-weight: 600;
            opacity: 0.8;
            border-bottom: 3px solid transparent;
            margin: 0 60px;
        }
        .ant-tabs-tab-active {
            opacity: 1;
            border-color: $secondary-border-color;
        }
        .ant-tabs-ink-bar {
            display: none !important;
        }
        .number {
            height: 30px;
            width: 30px;
            border-radius: 15px;
            display: inline-block;
            text-align: center;
            line-height: 1.6;
            padding: 4px 5px;
            background-color: rgba(45, 62, 76, 1);
            opacity: 0.9;
            &.active {
                background-color: $secondary-background-color;
                opacity: 1;
            }
            &.is-okay {
                transform: rotate(40deg) scaleX(-1);
                opacity: 1;
            }
        }
        .number+span {
            margin-left: 10px;
        }
    }
}

// Radio
.ant-radio-button-wrapper {
    &:not(:first-child) {
        margin: 0 10px;
    }
    &:first-child,
    &:last-child {
        border-radius: unset !important;
    }
    &:hover {
        color: $scondary-text-color;
    }
    &.ant-radio-button-wrapper-checked {
        color: #fff;
        background-color: $secondary-background-color;
        border-color: $primary-border-color;
        &:hover {
            color: #fff;
            border-color: $primary-border-color;
        }
    }
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: $primary-border-color !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before,
    {
    background-color: $secondary-background-color !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    outline: none !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    box-shadow: none;
}

// Form
.ant-row.ant-form-item {
    margin-bottom: 15px
}

.ant-input {
    height: 37px;
}

.ant-input,
.ant-select-selection {
    &:focus,
    &:hover,
    &:active {
        border-color: $primary-border-color !important;
        box-shadow: 0 0 0 1px rgba(237, 91, 0, 0.247);
    }
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-active {
    background-color: rgba(237, 91, 0, 0.6) !important;
    color: #fff;
}

.ant-select-selection--single {
    height: 38px;
}

.ant-select-selection__rendered {
    line-height: 35px;
}

.secondary-color {
    color: $scondary-text-color;
}

// checkbox
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $secondary-background-color;
    border-color: $secondary-background-color;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner,
.ant-checkbox-checked::after {
    border-color: $secondary-background-color;
}

.ant-checkbox+span {
    padding-left: 15px;
}

//button
.ant-btn-primary,.ant-btn-primary:hover, .ant-btn-primary:focus {
    width: 100%;
    background-color: $secondary-background-color;
    border-color: $primary-border-color;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
  opacity: 0.9;
}
.ant-form-item-children{
  display: flex;
}

.ant-btn.ant-btn-default{
  background-color:#ddd4d461;
  color: $primary-text-color;
}