$primary-background-color: #2e4b64;
$body-bg: #f9fafa;
$secondary-background-color: #ed5900;
$primary-text-color: #0a0909;
$scondary-text-color: #ed5900;
$primary-border-color: #ed5900;
$secondary-border-color: #fff;
$top-bar-height: 70px;
$lg-padding: 30px;
$ZIndexLevel-1: 1000;